.background {
	background: url(../img/Background.png);
	background-size: cover;
    background-repeat: no-repeat;
    margin: 0 auto;
}

.wrapper {
	max-width: 960px;
	margin: 0 auto;
}

.logo {
	width: 267px;
	height: 145px;
	margin: 56px 0px 0px 70px;
	float: left;
}

.contact {
	float: right;
	color: #d5d5d5;
	margin: 135px 82px 0px 0px;
}

.contact p {
	margin-bottom: 5px;
}

p, span {
	font-family: Tahoma, sans-serif;
	font-size: 12px;
	color: #d5d5d5;
}

.india {
	clear: both;
	float: left;
	margin-left: 68px;
}

.img_countries {
	border: 4px groove #989898;
}

.Name_of_countries {
	margin-left: 122px;
	font-size: 18px;
}

.nepal {
    float: left;
    margin-left: 12px;
}

.tibet {
	float: left;
    margin-left: 12px;
}

.bhutan {
	clear: both;
	float: left;
    margin-left: 68px;
    margin-top: 53px;
}

.sri_lanka {
	float: left;
    margin-left: 12px;
    margin-top: 53px;
}

.maldives {
	float: left;
    margin-left: 12px;
    margin-top: 53px;
}

.wrapper div a {
	text-decoration: none;
}

.Footer p {
	clear: both;
	padding: 200px 0 30px 0;
}